.container {
  max-width: 960px;
}
.jumbotron {
  background-color: #fafafa;

}

body
{

background-color: #fafafa;

}
.widthset{width: 12.5%;}
.heading-style
{

 font-family: 'Righteous', cursive;
    font-size: 205px;
    font-weight: bolder;
    -webkit-text-stroke: 2px rgba(6, 188, 209, 0.2);
    background: #ffffff;
    mix-blend-mode: screen;
    padding-top: 190px;

}

@media (min-width: 1200px)
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}

@media (min-width: 992px)
.container, .container-lg, .container-md, .container-sm {
  max-width: 960px;

}

@media (min-width: 768px)
.container, .container-md, .container-sm {

    max-width: 720px;
}

@media (min-width: 576px)
.container, .container-sm {

  max-width: 540px;

}

@media (min-width: 1200px)
.container {
  max-width: 1140px;
}
@media (min-width: 992px)
.container {
  max-width: 960px;
}
@media (min-width: 768px)
.container {
  max-width: 720px;
}
@media (min-width: 576px)
.container {
  max-width: 540px;

}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}
.card {
  border: 0;
}
.mt-15{margin-top:15%;}
.progress-wrapper {
  height: 240px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;

}


.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
    margin-bottom: 20px;

}


.wave::before, .wave::after {

  content: "";
  position: absolute;
  width: 470px;
  height: 390px;
  bottom: 0;
  left: 55%;
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 70%;
  -webkit-transform: translateX(-50%) rotate(0);
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
  z-index: 10;
}

.wave::after {
  border-radius: 30%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: translateX(-50%) rotate(0);
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 10s linear -5s infinite;
  animation: rotate 10s linear -5s infinite;
  z-index: 20;
}
.position {
  margin-bottom: 5rem!important;
  margin-top: 5rem!important;
}
.addPadding {
  padding-top: 31px;
  padding-bottom: 31px;

}


@keyframes rotate {

50% {
  transform: translateX(-50%) rotate(180deg);
}

100% {
  transform: translateX(-50%) rotate(360deg);
}

}



@media only screen and (max-width: 768px)
{

.heading-style {
  font-family: 'Righteous', cursive;
  font-size: 156px;
}

.progress-wrapper {
  height: 209px;
}

}

@media only screen and (max-width: 425px)
{
.heading-style {
  font-family: 'Righteous', cursive;
  font-size: 65px;
}

.progress-wrapper {
  height: 148px;
}

.wave::before, .wave::after {
  width: 490px;
  height: 331px;
}
}

.btn-bubble {
  color: white;
  background-color: #c15911;
  background-repeat: no-repeat;
  border: none;
}
.btn-bubble:hover, .btn-bubble:focus {
  animation: bubbles 1s forwards ease-out;
  background: radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 8% 143%/0.51em 0.51em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 84% 45%/0.64em 0.64em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 75% 40%/1.05em 1.05em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 29% 63%/0.59em 0.59em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 12% 135%/1.15em 1.15em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 101% 95%/0.18em 0.18em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 22% 12%/0.97em 0.97em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 107% 135%/0.7em 0.7em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 63% 137%/0.26em 0.26em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 69% 101%/0.71em 0.71em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 25% 7%/0.21em 0.21em;
  background-color: #c15911;
  background-repeat: no-repeat;
}
@keyframes bubbles {
  100% {
    background-position: 13% 47%, 87% 36%, 81% 44%, 32% 21%, 19% 52%, 107% 38%, 30% 27%, 116% 40%, 64% 34%, 79% 28%, 32% 1%;
    box-shadow: inset 0 -6.5em 0 #f7a730f3;
  }
}
/*# sourceMappingURL=output.css.map */
